@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/Ogrenci/kayit">
    <div class="form-group">
        <label>Okul No</label>
        <input type="text" name="ono" class="form-control"></input>
    </div>
    <div class="form-group">
        <label>Ad</label>
        <input type="text" name="isim" class="form-control"></input>
    </div>
    <div class="form-group">
        <label>Soyad</label>
        <input type="text" name="soyIsim" class="form-control"></input>
    </div>
    <div class="form-group">
        <label>Sınıf</label>
        <input type="text" name="sinif" class="form-control"></input>
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Ekle</button>
        <button type="reset" class="btn btn-primary">Temizle</button>
    </div>
</form>
